hr {
  margin-top: 30px;
  margin-bottom: 20px;
}

/* Post navigation links */
.post_navi {
  display: flex;
}

.post_navi-label {
  font-size: 0.8em;
  opacity: 0.5;
}

.post_navi .post_navi-item {
  padding: 0 2.2em;
  width: 50%;
  position: relative;
  color: inherit !important;
}

.post_navi .nav_prev {
  text-align: left;
}

.post_navi .nav_next {
  text-align: right;
}

.post_navi .nav_prev .post_navi-arrow {
  left: 0;
}

.post_navi .nav_next .post_navi-arrow {
  right: 0;
}

.post_navi .post_navi-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2.5em;
  opacity: 0.3;
}


/* Set the default text and background colors */
body {
  color: white;
  background-color: black;
}

/* Override the default link color */
a {
  color: #0088cc;
}

/* Add a dark mode toggle switch */
.dark-mode-toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 999;
}

/* Style the dark mode toggle switch */
.dark-mode-toggle input[type="checkbox"] {
  display: none;
}

.dark-mode-toggle label {
  cursor: pointer;
  display: inline-block;
  width: 60px;
  height: 34px;
  background-color: #444;
  border-radius: 34px;
  position: relative;
}

.dark-mode-toggle label:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
  transition: 0.3s;
}

.dark-mode-toggle input[type="checkbox"]:checked + label {
  background-color: #0088cc;
}

.dark-mode-toggle input[type="checkbox"]:checked + label:before {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}

/* Add the dark mode styles */
.dark-mode {
  color: black;
  background-color: white;
}

.dark-mode a {
  color: #0088cc;
}

.dark-mode .dark-mode-toggle label {
  background-color: white;
}

.dark-mode .dark-mode-toggle label:before {
  background-color: black;
}

.dark-mode .dark-mode-toggle input[type="checkbox"]:checked + label {
  background-color: #0088cc;
}

.dark-mode .dark-mode-toggle input[type="checkbox"]:checked + label:before {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}
